@model BookWormProject.Models.Genre
@{
    var currentGenre = Model;
}
<div class="visible-md-block visible-lg-block text-center">
    <div class="panel cat-desc text-left">

        <div class="panel-body">
            @currentGenre.Description
        </div>
    </div>
</div>