@model BookWormProject.Views.Shared.Components.RightSidebar.ViewModels.CategoryGenresViewModel
@{
    var currentCategory = Model.CurrentCategory;
    var genres = Model.Genres;
}
<div class="visible-md-block visible-lg-block text-center">
    <div class="panel cat-desc text-left">

        <div class="panel-body">
            @currentCategory.Description
        </div>
    </div>
</div>

<div class="list list-truyen list-cat col-xs-12">
    <div class="title-list">
        <h4>Thể loại của @currentCategory.Name</h4>
    </div>
    <div class="row">
        @foreach (var item in genres)
        {
            <div class="col-xs-6"><a href="#" title="@item.Name">@item.Name</a></div>
        }
    </div>
</div>