@model Author
<div class="visible-md-block visible-lg-block text-center">
    <div class="panel cat-desc text-left">

        <div class="panel-body">
            @Model.Description
        </div>
    </div>
</div>