<div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Show Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <h1>
                <a class="header-logo" href="/" title="BookWorm">
                    BookWorm
                </a>
            </h1>
        </div>
        <div class="navbar-collapse collapse" itemscope itemtype="https://schema.org/WebSite">
            <meta itemprop="url" content="/" />
            <ul class="control nav navbar-nav">
                <li class="dropdown">
                    @await Component.InvokeAsync("MenuCategories")
                </li>
                <li class="dropdown">
                    @await Component.InvokeAsync("MenuGenres")
                </li>
                <li class="dropdown">
                    @await Component.InvokeAsync("MenuAccount")
                </li>
            </ul>

            <form class="navbar-form navbar-right"  role="search" asp-action="Search" asp-controller="Home">
                <div class="input-group search-holder">
                    <input aria-label="Keyword search" class="form-control" type="search" name="keyword"
                           placeholder="Tìm kiếm..." value="" itemprop="query-input" required />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" aria-label="Search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="list-group list-search-res hide"></div>

            </form>

        </div>
    </div>


    <div class="navbar-breadcrumb">
        <div class="container breadcrumb-container">
            <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="/"
                       accesskey="1"><span class="glyphicon glyphicon-home"></span></a><a href="/"
                                                                                          title="Đọc Truyện Hot Online" itemprop="item"><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="#" title="#" itemprop="item"><span itemprop="name">@ViewData["Title"]</span></a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
        </div>
    </div>
</div>