<div id="footer" class="footer">
    <div class="container">
        <div class="xs col-sm-5">
            <strong>
                LXQ BLOG
            </strong> - <a href="/" title="Đọc truyện online">Đọc truyện</a> online, <a href="/"
                                                                                        title="Đọc truyện chữ">đọc truyện</a> chữ, <a href="/" title="Truyện hay">truyện hay</a>.
            Website luôn
            cập nhật những bộ <a href="/truyen-moi/" title="Truyện mới">truyện mới</a> thuộc các thể loại đặc
            sắc như <a href="/the-loai/tien-hiep/" title="Truyện tiên hiệp">truyện tiên hiệp</a>, <a href="/the-loai/kiem-hiep/" title="Truyện kiếm hiệp">truyện kiếm hiệp</a>, hay <a href="/the-loai/ngon-tinh/" title="Truyện ngôn tình">truyện ngôn tình</a> một cách nhanh nhất.
            Hỗ trợ
            mọi thiết bị như di động và máy tính bảng.
            <br />
        </div>
        <ul class="col-xs-12 col-sm-7 list-unstyled">
            <li class="text-right pull-right">
                <a href="/contact/" title="Contact">Contact</a> - <a href="/tos/" title="Terms of Service">ToS</a>
                <a class="backtop" title="Back to top" href="#wrap" rel="nofollow" aria-label="Back to top">
                    <span class="glyphicon glyphicon-upload"></span>
                </a>
            </li>
            <li class="hidden-xs tag-list">
                <a href="#" title="#">
                    văn học cổ điẻn
                </a>
            </li>
        </ul>
    </div>
</div>