@model BookWormProject.ViewModels.User.ChangePasswordViewModel

<div id="changePasswordResult">
    <div class="col-md-9 col-sm-8">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        <div id="pnlPassword" class="user-page clearfix">
            <h1 class="postname">
                Đổi mật khẩu
            </h1>
            <div class="row">
                <div class="col-sm-9">
                    <form asp-action="ChangePassword" method="post">
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword"></label>
                            <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#changePasswordResult form').submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize();
            $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                success: function (result) {
                    $('#changePasswordResult').html(result);
                },
                error: function () {
                    $('#changePasswordResult').html('<div class="text-danger">Có lỗi xảy ra</div>');
                }
            });
        });
    });
</script>
