@{
    Layout = "_LayoutBookWorm";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BookWormProject.ViewModels.User.ForgotPasswordViewModel

<div id="login-signup-form">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div id="forgot-password-form" asp-controller="User" asp-action="ForgotPassword">
                <form asp-validation-summary="All" method="post">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Vui lòng nhập Email</label>
                        <input asp-for="Email" class="form-control" autocomplete="off" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>