@model BookWormProject.ViewModels.Genre.GenreCreateEditViewModel
@{
    ViewData["Title"] = "Sửa thể loại";
    Layout = "_LayoutAdmin";
    var form = new
    {
        method = "PATCH",
        action = "Edit",
        item = Model,
    };
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("_PartialForm", form)
            </div>
        </div>
    </div>
</div>